@charset "utf-8";
.banner_top {
    background-image: url(/asset/img_Collection/banner_collection.png);
    /* 본인 배너이미지 */
}

.search {
    padding: 45px 80px;
    text-align: center;
}

/* 검색창 */
.search_bar {
    display: inline-flex;
    align-items: center;
    border-bottom: 2px solid var(--black);
    padding-bottom: 4px;
    background: yellowgreen;
}

.search_bar input {
    border: none;
    background: none;
    width: 300px;
    font-size: var(--fspre-21);
    color: var(--gray-07-footer);
}

/* 돋보기 아이콘 */
.search_bar button {
    width: 40px;
    height: 40px;
    margin-left: 6px;
    border: none;
    border-radius: var(--r-round);
    background: var(--w-color);
    opacity: 0.8;
    cursor: pointer;
}

/* search btn */
.txt_btn {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background: #ccc;
}

.txt_btn button {
    padding: 13px 29px;
    border: none;
    border-radius: var(--r-round);
    background: var(--w-color);
    opacity: 0.9;
    font-size: var(--fspre-21);
    color: var(--black);
    cursor: pointer;
    transition: 0.2s;
}

.txt_btn button:hover {
    background: var(--gray-08);
    color: var(--w-color);
}

/* 레이아웃 버튼 */
.view_btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 76px;
    margin-bottom: 76px;
}

.view_btns button {
    width: 62px;
    height: 56px;
    background-size: 38px;
    padding: 8px;
    border-radius: var(--r-10);
    cursor: pointer;
    transition: 0.25s;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--yellow-02);
    border: none;
}

.view_btns button.btn1 {
    background-image: url(../asset/img_Collection/icon2_on.png);
}

.view_btns button.btn2 {

    background-image: url(../asset/img_Collection/icon1_on.png);
}

.view_btns button.btn1.on {
    background-image: url(../asset/img_Collection/icon2_off.png);

}

.view_btns button.btn2.on {
    background-image: url(../asset/img_Collection/icon1_off.png);
}

.view_btns button.on {
    background-color: var(--gray-07-footer);
}

/* 카드 슬라이드 섹션 */
.con {
    padding: 0px 123px 0px;
    width: 100%;
    background: darkcyan;
}

.con .results {
    margin-bottom: 12px;
}

.con span {
    font-size: var(--fspre-20);
    color: var(--black);
}

.con span b {
    color: var(--red-06);
}


/* 카드 공통 */
.card_wrap {
    width: 100%;
}

.card_wrap1 ul {
    display: flex;
    width: 100%;
    gap: 20px;
    height: 550px;
    margin: 0; 
    background: saddlebrown;
}

.card_wrap1 ul li.card {
    width: fit-content;
    background: rgba(255, 255, 255, 0.4);
    border-radius: var(--r-15);
    box-shadow: 0 1px 8px rgba(0, 0, 0, .05);
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;  

}

/* 이미지 영역 */
.card_wrap1 .card .thumb {
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    padding: 20px 20px 10px 20px;
    /* margin-top: 20px; */
}

.card .thumb img {
    height: 100%;
    object-fit: cover;
    border-radius: var(--r-20);
    display: block;
    
    
}

/* 텍스트 */
 .card .txt {
    padding: 20px ;
    text-align: left;
    /* background: yellow; */
    display: block;
}

 .card .title {
    font-size: var(--fspre-23);
    font-weight: 500;
    color: var(--black);
    margin-bottom: 2px;
}

.card p {
    font-size: var(--fspre-20);
    color: var(--gray-06);
    line-height: 1.4;
}

