@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --w-color: #FFFFFF;
    --black: #1D1D1B;
    --bg: #F0EBDE;
    --yellow-01: #FFFAED;
    --yellow-02: #F5F0E4;
    --yellow-03: #EEE9D6;
    --yellow-04: #F2DEC0;
    --yellow-05: #DACAB0;
    --yellow-06: #CEB791;
    --yellow-07: #A2824F;
    --yellow-08: #74521C;
    --yellow-09: #4D2F00;
    --blue-01: #D7EAFF;
    --blue-02: #C3D5FA;
    --blue-03: #8AA8E5;
    --blue-04: #4471CC;
    --blue-05: #34579E;
    --blue-06: #344F84;
    --blue-07: #253C6B;
    --blue-08: #18294D;
    --blue-09: #01133B;
    --red-01: #F9E9E8;
    --red-02: #F8C8C6;
    --red-03: #E47771;
    --red-04: #AA5F5F;
    --red-05-point: #B3332C;
    --red-06: #9F140B;
    --red-07: #84130C;
    --red-08: #480400;
    --red-09: #320300;
    --gray-01: #F3F3F3;
    --gray-02: #EEEBEA;
    --gray-03: #E2DDDC;
    --gray-04: #C4C0B6;
    --gray-05: #A7A09D;
    --gray-06: #847E7B;
    --gray-07-footer: #59574D;
    --gray-08: #3D3532;
    --gray-09: #1F2523;
    --title-Zen: "Zen Antique", serif;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.inner {
    width: 1674px;
    margin-inline: auto;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgba(226, 218, 215, 0.7);
}

header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;

}

.inner .logo {
    width: 225px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
    /*  flex: 1; */
    /* margin-left: 200px; */
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    font-size: 18px;
    font-weight: 500;
}

nav ul li {
    align-items: center;
}

header .right {
    display: flex;
    gap: 26px;
    margin-left: 70px;
}

main {
    padding-top: 80px;
}

.banner_top {
    position: relative;
    width: 100%;
    height: 265px;
    /* GNB 높이에 맞춰 조정 */
    overflow: hidden;
    background-color: #1d1d1b;
}

.banner_top .banner_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.85;
}

.banner_top .txt {
    position: absolute;
    bottom: 60px;
    left: 90px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: var(--title-Zen);
}

.sub {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 80px;
    background: #f9f6ef;
    font-size: 15px;
    color: #222;
}

.sub .logo {
    width: 20px;
}

.sub i {
    color: #aaa;
    font-size: 12px;
}

.sub .menu_sub {
    color: #222;
    font-weight: 500;
}





.footer {
    width: 100%;
    height: 771px;
    background: #181819;
}