@charset "utf-8";


@media screen and (max-width:1750px) {
    .inner {
        width: 95%;
    }
}


/* 1673px 이하 공통 */
@media screen and (max-width:1673px) {
    nav ul.gnb {
        gap: 35px;
    }
}


@media (max-width:1460px) {
    header .inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
    }




    header nav {
        display: none;
    }


    .ham {
        width: 40px;
        height: 40px;
        position: relative;
        border-radius: 50%;
        cursor: pointer;
        transition: .6s;
    }

    header.on .ham {
        border: 1px solid var(--black);
        margin-left: auto;
    }

    .ham ul {
        display: flex;
        flex-direction: column;
        width: 26px;
        height: 20px;
        justify-content: space-between;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    /* 기본 상태 - 햄버거 메뉴 */
    .ham ul li {
        width: 100%;
        height: 1px;
        background: var(--black);
        transition: all .6s;
        transform: rotate(0deg) translateY(0);
        /* 명확하게 초기값 설정 */
    }

    .ham ul li:nth-child(2) {
        width: 70%;
    }

    /* on 상태 - X자 */
    header.on .ham ul li {
        width: 100%;
    }

    header.on .ham ul li:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    header.on .ham ul li:nth-child(2) {
        opacity: 0;
    }

    header.on .ham ul li:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

}




/* 1024px 이하 반응형 */
@media (max-width:1024px) {

    header .inner .logo {
        width: 210px;
    }

    main .banner_top {
        height: 175px;
    }

    main .banner_top .txt {
        font-size: 35px;
    }

}

/* 402px 이하 반응형 */
@media (max-width:402px) {

    .inner .logo {
        width: 110px;
    }

    main .banner_top {
        height: 215px;
    }

    main .banner_top .txt {
        font-size: 28px;
    }


}