@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

* {
    box-sizing: border-box;
}

.inner {
    width: 95%;
    max-width: 1700px;
    margin-inline: auto;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

header .inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(226, 218, 215, 0.7);
}

header h1 {
    font-size: 18px;
    font-weight: 700;
    padding: 30px;
}

nav {
    /*  flex: 1; */
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

nav ul li {
    align-items: center;
}

header .right {
    display: flex;
    gap: 26px;
    padding: 30px;
}

.banner_top {
    position: relative;
    width: 100%;
    height: 265px;
    margin-top: 80px;
    /* GNB 높이에 맞춰 조정 */
    overflow: hidden;
    background-color: #1d1d1b;
}

.banner_top .banner_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.85;
}

.banner_top .txt {
    position: absolute;
    bottom: 60px;
    left: 90px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    /* font-family: "Zen Antique", serif; */
    font-weight: 500;
    /* font-style: normal; */
}
.sub {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 80px;
  background: #f9f6ef;
  font-size: 15px;
  color: #222;
}

.sub .logo {
  width: 20px;
}

.sub i {
  color: #aaa;
  font-size: 12px;
}

.sub .menu_sub {
  color: #222;
}