@charset "urf-8";
/* 
.sub {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 80px;
    background: #f9f6ef;
    font-size: 15px;
    color: #222;
    margin-top: 80px;
}

.sub .logo {
    width: 20px;
}

.sub i {
    color: #aaa;
    font-size: 12px;
}

.sub .menu_sub {
    color: #222;
}


.map_content {
    width: 100%;
    background: lightskyblue;
    margin-top: 45px;
} */

/* 내부 레이아웃 */
/* .map_content .inner {
    width: 100%;
    padding: 0 117px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 255px;
} */
/* map 페이지의 main .inner만 flexbox 적용 */
.space {
    display: flex;
    justify-content: space-between;
    /* gap: 255px; */
    align-items: flex-start;
}

/* 왼쪽 텍스트 박스 전체 */
.inner .left {
    width: 632px;
    /* height: 727px; */
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 50px;
}

.txt_box .title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.txt_box {
    /* flex: 1.2; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 48px;
    border-bottom: 1px dashed #59574D;
}

/* 제목 */
.page_title {
    font-family: var(--title-Zen);
    font-size: var(--fszenT-L-50);
    font-weight: 500;
    letter-spacing: 150%;
    color: var(--black);
}

/* 층 탭 */
.floor_tabs {
    display: flex;
    gap: 14px;
    margin-bottom: 40px;
}

.floor_tabs .tab {
    background: var(--yellow-01);
    color: var(--gray-05);
    border: none;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    padding: 8px 34px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.floor_tabs .tab.active {
    background: var(--red-05-point);
    color: var(--w-color);
}

.floor_tabs .tab:hover:not(.active) {
    background: var(--yellow-03);
    color: var(--black);
}

/* 밑 소개글 */
.left .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 47px 0 0;
    margin-bottom: 68px;
}

.left .bottom .b_title {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: var(--fspre-30);
    letter-spacing: 0.02em;
    font-weight: 550;
    color: var(--black);
    margin-bottom: 20px;
    /* display: flex;
    align-items: center;
    gap: 8px; */
}

.left .bottom .b_title i {
    font-size: 14px;
    color: var(--black);
}

.left .bottom .info {
    width: 100%;
    color: var(--black);
    font-size: var(--fspre-25);
    font-weight: 400;
    line-height: 1.4;
}

/* Highlighted Artifact */
.highlighted_artifact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 632px;
}

.highlighted_artifact h4 {
    font-size: var(--fspre-30);
    font-weight: 500;
    color: var(--black);
}

.highlighted_artifact .arts {
    display: flex;
    gap: 20px;
}

.arts li {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* 동일한 너비 */
}

.arts .img_box {
    width: 100%;
    aspect-ratio: 1 / 1;
    /* 정사각형 비율 */
    background: var(--yellow-03);
    margin-bottom: 8px;
    overflow: hidden;
}

.arts .img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlighted_artifact li p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: var(--black);
    /* 2줄 말줄임 추가 */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 2줄까지만 표시 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 오른쪽 지도 영역 */
.map_right {
    position: relative;
    background: #ccc;
    width: 798px;
    /* flex: 1; */
    /*     display: flex;
    justify-content: center;
    align-items: flex-start; */
}

.map_right img {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
    max-width: 798px;
}

.map_right img.on {
    display: block;
}