@charset "utf-8";

body {
    /* background: var(--bg); */
}

.wrap {
    width: 100%;
    overflow-x: hidden;
}

main.bg {
    background-position: top center;
}

.banner_top {
    background-image: url(/asset/img_Special/sub_banner.png);
    /* 본인 배너이미지 */
}


.SpecialExhibition {
    padding: 45px 0 14px;
    /* background: #ccc; */
    border-bottom: 1px dashed var(--gray-05);
}

.SpecialExhibition .inner {
    display: flex;
    align-items: flex-start;
    gap: 35px;
    width: 1674px;
    margin-bottom: 114px;
    margin-inline: auto;
    /* background: yellow; */
}

.SpecialExhibition .img_left img {
    width: 580px;
    height: 740px;
    display: block;
}

.SpecialExhibition .txt_right {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 35px 0;
}

.SpecialExhibition .txt_right .top {
    height: 192px;
    border-bottom: 1px dashed var(--gray-05);
    margin-bottom: 35PX;
}

.SpecialExhibition .txt_right .box_1 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.SpecialExhibition .txt_right .box_1 span {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    /* display: inline-flex; */
    justify-content: center;
    align-items: center;
}

.SpecialExhibition .txt_right .box_1 {}


.SpecialExhibition .txt_right h2 {
    font-family: var(--title-Zen);
    font-size: 50px;
    color: var(--gray-09);
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 9px;
    /* margin-bottom: 10px; */
}

.SpecialExhibition .txt_right p {
    color: var(--gray-07-footer);
}

.data {
    display: flex;
    align-items: center;
    gap: 16px;
}

.data span {
    color: var(--gray-07-footer);
}

.data img {
    width: 29px;
}

.Exhibition .Exhibition_txt_1 {
    margin-bottom: 32PX;
}

.Exhibition h3 {
    font-size: 30PX;
    margin-bottom: 8PX;
    line-height: 1.3;
}

.Exhibition P {
    font-size: 20PX;
    color: var(--gray-07-footer);
    line-height: 1.4;
}

.btn_all {
    display: flex;
    margin-top: 90px;
    align-items: center;
}

.btn_all .btn_left {
    display: flex;
    gap: 13px;
}

.btn {
    margin-left: auto;
}

.btn_all .btn_left button {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background: var(--gray-05);
}

.btn_all .btn .reserve_btn {
    display: inline-block;
    padding: 16px 100px;
    background: var(--red-06);
    border-radius: 10px;
    color: var(--w-color);
    font-size: 21px;
    line-height: 1.3;
}

.ExhibitionVisual {
    width: 100%;
    height: 612px;
    margin-top: 114px;
    /* overflow: hidden; */
    background: #333;
    /*     justify-content: center; */
    position: relative;
}

.ExhibitionVisual::before {
    content: '';
    background: url(../asset/img_Special/mini_banner.png) lightgray 50% / cover no-repeat;
    width: 100%;
    height: 100%;
    opacity: .5;
    position: absolute;
}

.ExhibitionVisual .inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.ExhibitionVisual .txt_all {
    width: 770px;
    position: relative;
}

.ExhibitionVisual .contents {
    /* background: #ccc; */
    display: flex;
    flex-direction: column;
    gap: 14px;
    /*     margin-left: auto; */
}

.ExhibitionVisual h3 {
    font-size: 65px;
    line-height: 1.5;
    font-family: var(--title-Zen);
    color: var(--w-color);
    text-align: left;
    /* background: yellow; */
    width: 100%;
    margin-bottom: 20px;
}

.ExhibitionVisual p {
    font-size: 25px;
    line-height: 1.3;
    color: var(--w-color);
}


.ExhibitionStructure {
    /* background: #ccc; */
    background: url(/asset/img_Special/exhibition-bg2.png);
    background-position: left top;
}

.ExhibitionStructure .inner {
    /*     flex-direction: column; */

}



.title {
    font-size: 50px;
    line-height: 1.5;
    font-family: var(--title-Zen);
    padding-top: 96px;
    /* padding: 0 96px; */
}

/* .Exhibition_1 {
    display: flex;
    margin-top: 72px;
} */

/* .img_1 {
    width: 380px;
    height: 500px;
} */
.articles_all {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 72px;
}

.articles_all article {
    display: flex;
    gap: 52px;
}



.Exhibition_txt {
    flex: 1;
    /* background: #ccc; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* padding-bottom: 30px; */
    /* margin-left: 52px; */
}

.articles_all article:nth-child(even) .Exhibition_txt {
    align-items: flex-end;
    text-align: right;
}

.Exhibition_txt i {
    font-size: 80px;
    line-height: 1.5;
    font-family: var(--title-Zen);
    color: var(--gray-05);
    margin-bottom: 6px;
}

.Exhibition_txt h3 {
    font-size: 35px;
    line-height: 1.3;
    color: var(--black);
    font-weight: bold;
    margin-bottom: 8px;
}

.Exhibition_txt p {
    font-size: 25px;
    line-height: 1.3;
    color: var(--gray-08);
    margin-bottom: 20px;
}

.Exhibition_txt span {
    font-size: 16px;
    line-height: 1.3;
    color: var(--gray-07-footer);
}

/* .Exhibition_2 {
    display: flex;
}

.img_2 {
    width: 463px;
    height: 609px;
}

.Exhibition_3 {
    display: flex;
}

.img_3 {
    width: 307px;
    height: 405px;
}

.Exhibition_4 {
    display: flex;
}

.img_4 {
    width: 380px;
    height: 500px;
} */

.MajorExhibition {
    margin-top: 216px;
}

.horizontal_section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.MajorExhibition .tit {
    font-size: 50px;
    line-height: 1.5;
    font-family: var(--title-Zen);
    position: sticky;
    top: 100px;
    z-index: 10;
    /* margin-bottom: 72px; */
}



.slide_box {
    display: flex;
    /* 가로 정렬 */
    /* 내부 콘텐츠 크기만큼 자동 확장 */
    width: max-content;
    gap: 80px;
    padding-top: 100px;
    padding-bottom: 20px;
    height: 85vh;
    padding-left: 124px;
    padding-right: 124px;
    margin-top: 72px;
}

.slide_box span {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    font-size: 16px;
    line-height: 1.3;
    color: var(--gray-07-footer);
}

.MajorExhibition article {
    flex-shrink: 0;
    /* margin-top: 72px; */
}

.MajorExhibition article:nth-child(2n+1) {
    align-self: flex-end;
    /*     
    margin-top: 213px; */
}

.slide_box span:nth-child(2n+1) {
    margin-bottom: 10px;
}

.slide_box span:nth-child(2n) {
    margin-top: 10px;
}


.MajorExhibition article:nth-child(2n) {
    align-self: flex-start;
    /*     margin-top: 10px; */
}

.RecommendedExhibition .tit {
    font-size: 50px;
    line-height: 1.5;
    font-family: var(--title-Zen);
    margin-bottom: 72px;
    margin-top: 216px;
}

.Recommended {
    /*     display: flex;
    justify-content: center;
    gap: 5px;
    perspective: 1000px;
    transform-style: preserve-3d;
    overflow: visible; */
    padding-top: 50px;
    padding-bottom: 200px;
}

.Recommended .swiper-slide {
    width: 480px;
    height: 696px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 5px 5px 80px 10px rgba(0, 0, 0, 0.3);
}

.Recommended .swiper-slide-active {
    box-shadow: none;
}

.Recommended .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(60%);
}

.Recommended .swiper-slide-active img {
    filter: brightness(100%);
}

.Recommended .swiper-slide:hover img {

    /* cursor: pointer; */
}

/* .Recommended article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}

.Recommended article:nth-child(1) {
    transform: rotateY(35deg) translateZ(-160px) translateX(-10px);
    opacity: .7;
}

.Recommended article:nth-child(2) {
    transform: rotateY(18deg) translateZ(-80px);
    opacity: .85;
}

.Recommended article:nth-child(3) {
    transform: rotateY(0) translateZ(0);
    opacity: 1;
}

.Recommended article:nth-child(4) {
    transform: rotateY(-18deg) translateZ(-80px);
    opacity: .85;
}

.Recommended article:nth-child(5) {
    transform: rotateY(-35deg) translateZ(-160px) translateX(10px);
    opacity: .7;
}

 */