@charset "utf-8";

.inner {}

.SpecialExhibition {
    padding: 45px 0 14px;
    background: #ccc;
}

.SpecialExhibition .inner {
    display: flex;
    align-items: flex-start;
    gap: 35px;
    width: 1674px;
    margin-inline: auto;
    /* background: yellow; */
}

.SpecialExhibition .img_left img {
    width: 580px;
    height: 740px;
    display: block;
}

.SpecialExhibition .txt_right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.SpecialExhibition .txt_right .top {
    height: 192px;
    border-bottom: 1px dashed var(--gray-07-footer);
}

.SpecialExhibition .txt_right .box_1 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.SpecialExhibition .txt_right .box_1 span {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    /* display: inline-flex; */
    justify-content: center;
    align-items: center;
}

.SpecialExhibition .txt_right .box_1 {}


.SpecialExhibition .txt_right h2 {
    font-family: var(--title-Zen);
    font-size: 50px;
    color: var(--gray-09);
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 9px;
    /* margin-bottom: 10px; */
}

.SpecialExhibition .txt_right p {
    color: var(--gray-07-footer);
}

.data {
    display: flex;
    align-items: center;
    gap: 16px;
}

.data img {
    width: 29px;
}